  <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand " href="shops"><b>SHOPAPP</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active " aria-current="page" href="shops">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="addshop">Add Shop</a>
              </li>            
            </ul>
              <button class="btn btn-danger float-left ml-auto" (click)="logout_click($event)" >LogOut</button>
          

          </div>
          
        </div>
      </nav>
     
    